<div class="panel-sign-up hide-on-mobile" id="public">
  <a href="/sign_in" class="ui blue basic button">
    Log in here
  </a>
  <span class="mr-2">
    Already have an account?
  </span>
</div>

<div class="ui large attached form login" role="login">
<%= render "form.html", changeset: @changeset,
                        action: user_path(@conn, :create) %>
	
</div>